@import 'jeet/index';

.seat {
	// @include col(1/4);
	height: 10px;
	width: 10px;
	background-color: grey;
	padding: 1em;
	margin: 1em;
	display: inline-block;
}

.selected { 
	background-color: green;
}

.taken {
	background-color: red;
}